[submodule "apps/first-carni-skill"]
	path = apps/first-carni-skill
	url = https://github.com/metsnake217/KoSha_carni.git
[submodule "apps/apps/first-carni-skill"]
	path = apps/apps/first-carni-skill
	url = https://github.com/metsnake217/KoSha_carni.git
